<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<body>
<nav>
    <a href="/">Home</a>
    <a href="/egresos/nuevoEgreso">Cargar egreso</a>
</nav>
<main>
    <h1>Gesoc</h1>

    <div>
        Hubo un error mostrando la página anterior
    </div>


    <footer>
        Copyright {{anio}} Gesoc
    </footer>
</body>

</html>