{{# partial "titulo" }}
    <title>Gestión de Proyectos Sociales</title>
{{/partial}}


{{# partial "contenido" }}
    <section class="fondo-gris">
        <h2>Sobre nosotros</h2>
        <p>
            Fundación Proyecto Emprender (PROEM) es una organización sin fines de lucro fundada en el año 2003.
            Su visión reside en contribuir a la obtención del pleno empleo en la República Argentina. En dicho sentido,
            su misión es acompañar la preparación laboral de las personas, promover el desarrollo y generación de
            emprendimientos y fortalecer organizaciones productivas ya constituidas. PROEM promueve la inclusión
            social a través del trabajo. La Fundación acoge a toda persona que necesite apoyo, asesoramiento y/o
            acompañamiento en proyectar sus ideas como herramientas para generar un trabajo autónomo, así como
            a jóvenes y adultos que necesitan orientación y capacitación para mejorar su formación con el fin de
            conseguir un empleo
        </p>

        <ol>
            <li>Somos una empresa joven</li>
            <li>Altos valores</li>
            <li>Decimos lo que la gente quiere escuchar</li>
        </ol>
    </section>

{{/partial}}
{{> layout.html.hbs }}